<!--ユーザーの詳細-->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<!-- ユーザーの投稿一覧 -->
<%= render 'post_images/list', post_images: @post_images %>

<!--@user.post_imagesに格納されているデータは複数あるため-->
<!--@post_images.user.id,@post_images.user.nameのように-->
<!--関連づけられているモデルのカラムを操作することはできません。-->
<!--each文を使用して、一つずつデータを確認した上で、カラムを操作する必要があります。-->